Thanks for leaving yourself a note with Message from 2016. Please confirm your email address by visiting <%= message_confirm_url(@auth_token) %> so we can email your future self.

Your Message from 2016 has been saved. Click <a href="<%= message_confirm_url(@auth_token) %>">here</a>, or follow the link below, to confirm your email address so we can send your message to your future self.

<%= message_confirm_url(@auth_token) %>
