<p class="sharing">
  Get the word out:
</p>

<div class="social">
  <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.messagefrom2016.com&layout=button&size=large&mobile_iframe=true&width=84&height=28&appId"
    width="84"
    height="28"
    style="border:none;overflow:hidden"
    scrolling="no"
    frameborder="0"
    allowTransparency="true">
  </iframe>

  <iframe
    src="https://platform.twitter.com/widgets/tweet_button.html?size=l&text=Write%20a%20letter%20to%20yourself%20about%20the%20election%2C%20%40messagefrom2016%20will%20mail%20it%20back%20to%20you%20before%20midterm%20elections."
    width="77"
    height="28"
    title="Twitter Tweet Button"
    style="border: 0; overflow: hidden;">
  </iframe>
</div>