// Place all the styles related to the message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-radius: 0.125in;
$border: 2px solid black;

* {
  box-sizing: border-box
}

html, body {
  padding:0;
  margin:0;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 46px;
  line-height: 48px;
  margin-bottom: 16px;
  letter-spacing: -1px;
}

h2 {
  font-size: 42px;
  line-height: 42px;
  letter-spacing: -1px;
}

@media (max-width: 446px) {
  h1 {
    text-align: center
  }
  h2 {
    text-align: center
  }
}

input, textarea{
  width: 100%;
  border: $border;
  border-radius: $border-radius;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
}

textarea{
  resize: none;
  height: 200px;
}

button, .button{
  font-size: 24px;
  border: $border;
  border-radius: $border-radius;
  background-color: white;
  width: 125px;
  cursor: pointer;
}

button:hover, .button:hover {
  background-color: black;
  color:white;
}

#content-wrapper{
  margin: 70px auto 0 auto;
  max-width: 480px;
  padding:20px;
}

.logo {
  width: 90px;
}

.center {
  text-align: center;
}

.intro {
  margin-bottom: 60px;
}

.sharing {
  text-align: center;
}

.social {
  margin-bottom: 25px;
  text-align: center;
}