<!DOCTYPE html>
<html>
  <head>
    <title>Messagefrom2016</title>

    <!-- Facebook -->
    <meta property="og:url"                content="http://messagefrom2016.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Message From 2016" />
    <meta property="og:description"        content="Write a letter to your future self, returned to you one month before mid-term elections." />
    <meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
